*.pyc
*__pycache__
*build/
*.venv
*DS_store
*.bead.json
notes.md
*.egg-info
*.coverage
*dist/
htmlcov/
.pytest*
Scripts
Lib
include
*.xlsx
*.yml
*.yaml
*create.xlsx
ex.yml
example.yaml
res.txt
samp.xlsx
*samp1.xlsx
*terrk.spec